<!DOCTYPE html>
<html>
	<head>
		<% include head.ejs %> 
	</head>
	
	<body>
		<% include navbar.ejs %> 
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 results-header">
					<h1><strong>Search Results</strong></h1>
					<h3><em><strong><%= results.length %></strong> entries containing <strong>"<%= query %>"</strong> in <span class="lowercase"><%= category %></span>.</em></h3>
					<hr>
				</div>
			</div>


			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table table-hover">
						<tr>
							<% for (var field in results[0]) {%>
							<th><%= field %></th>
							<% } %>
						</tr>

						<!-- search result -->
						<% if( results.title !== 'undefined'){ %>
						<% for (var i = 0; i < results.length; ++i) {%>
						<tr>
							<% for (var field in results[0]) {%>
							<% if( field == 'title'){ %>
							<td><a href="#" id='track-click' data-toggle="modal" data-target=".rating-modal"><%= results[i][field] %></a></td>
							<% }else{ %>
							<td><%= results[i][field] %></td>
							<% } %>
							<% } %>
						</tr>
						<% } %>
						<% } %>

					
					</table>
				</div>
			</div>
		</div>
		</body>

		<!-- MODALS -->
		<% include rating_modal.ejs %>
		<% include scripts.ejs %>

		</html>
