<!DOCTYPE html>
<html>
	<head>
		<% include head.ejs %> 
	</head>
	
	<body>
		<% include navbar.ejs %> 
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 results-header">
					<h1><strong>Search Results</strong></h1>
					<h3><em><strong><%= results.length %></strong> entries containing <strong>"<%= query %>"</strong> in <span class="lowercase"><%= category %></span>.</em></h3>
					<hr>
				</div>
			</div>
			<% switch(category) {%>
				<% case "Artists": %>
					<% for (var result = 0; result < results.length; ++result) {%>
						<div class="row">
							<!-- <div class="col-md-8 col-md-offset-2"> -->

							<!-- [> <table class="table table-hover"> <] -->
							<!-- [> <tr> <] -->
							<!-- [> <% for (var field in results[0]) {%> <] -->
							<!-- [> <th><%= field %></th> <] -->
							<!-- [> <% } %> <] -->
							<!-- [> </tr> <] -->

							<!-- [> [> [> search result <] <] <] -->
							<!-- [> <% if( results.Track !== 'undefined'){ %> <] -->
							<!-- [> <% for (var i = 0; i < results.length; ++i) {%> <] -->
							<!-- [> <tr> <] -->
							<!-- [> <% for (var field in results[0]) {%> <] -->
							<!-- [> <% if( field == 'Track'){ %> <] -->
							<!-- [> <td><a href="#" class='track-click' data-toggle="modal" data-target=".rating-modal"><%= results[i][field] %></a></td> <] -->
							<!-- [> <% }else{ %> <] -->
							<!-- [> <td><%= results[i][field] %></td> <] -->
							<!-- [> <% } %> <] -->
							<!-- [> <% } %> <] -->
							<!-- [> </tr> <] -->
							<!-- [> <% } %> <] -->
							<!-- [> <% } %> <] -->


							<!-- [> </table> <] -->
							<!-- </div> -->
							<div class="col-md-3">
								<% if (results[result].Image) {%>
									<img src="/images/placeholder.png" class="img-rounded">
								<% } >
							</div>
							<div class="col-md-9">
								<h1>
									<%= results[result].Artist %>
								</h1>
							</div>
						</div>
					<% } %>
				<% break; %>
			<% } %>
		</div>
	</body>

	<% include rating_modal.ejs %>
	<% include scripts.ejs %>

</html>
